@model IEnumerable<CmsShoppingCart.Models.ViewModels.Shop.ShopVM>

@{
    ViewBag.Title = "CategoriesPage";
}

<h2>Categories Page</h2>

<div class="newcategory">

    <input type="text" id="NewCategoryInput" />
    <p>
        <a href="#" id="anchorId">Add a new category</a>
        <span class="ajaxtext">
            <img src="~/Content/Pictures/ajax-loader.gif" />
        </span>
    </p>
</div>

@if (!Model.Any())
{
    <h1>No categories added yet</h1>
}
else
{


    <table class="table sorting" id="pages">
        <tr class="home">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Slug)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sorting)
                </th>*@
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.EditorFor(modelItem => item.Name, new { htmlAttributes = new { @class = "form-control", @readonly ="readonly" } })

                    @*@Html.DisplayFor(modelItem => item.Name)*@
                </td>

                <td>

                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "delete" })
                </td>
            </tr>
        }

    </table>
}
@section Keyassemahe {

    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script>
        @*Add a new category*@

        var anchorid = $("#anchorId")
        var NewCategoryInput = $("#NewCategoryInput");
        var ajaxtext =  $("span.ajaxtext");
        var Table = $("table#pages tbody");
        NewCategoryInput.keyup(function (Userinput) {

            if (Userinput.keyCode == 13) {
                anchorid.click();
            }

        });
        anchorid.click(function(Newevent) {

            Newevent.preventDefault();

            var newInput = NewCategoryInput.val();

            if (newInput.length<2) {

                alert("Category name must be at list two character long.");
                return false;

            }
            ajaxtext.show();

            var url = "/admin/shop/addNewCategory";

            $.post(url, { newInput: newInput }, function (data) {

                var response = data.trim();
                if (response == "titletaken") {
                    ajaxtext.html("<span class='alert alert-danger'>That tile is taken!</span> ")
                    setTimeout(function () {
                        ajaxtext.fadeOut("fast", function () {
                            ajaxtext.html("<img scr =/Content/Pictures/ajax-loader.gif/>")
                        });

                    }, 2000);
                    return false;
                }
                else {
                    if (!$("table#pages").lenght) {
                        location.reload();
                    }
                    else {
                        ajaxtext.html("<span class='alert alert-success'>Category added successfully</span> ")
                    setTimeout(function () {
                        ajaxtext.fadeOut("fast", function () {
                            ajaxtext.html("<img scr =/Content/Pictures/ajax-loader.gif/>")
                        });

                    }, 2000);

                        NewCategoryInput.val("");
                        var toAppend = $("table#pages tbody tr:last").clone();
                        toAppend.attr("id", "id_" + data) 
                        toAppend.find("#item_Name").val("newInput")
                        toAppend.find("a.delete").attr("href", "/admin/shop/DeleteCategory" + data); ///
                        Table.append(toAppend);
                        Table.sortable("refresh");
                    }
                }
            });
        });

//////////////////////////////////////////////////////////////////////////////////////////

    @*confirm page deletion*@
        $(function () {
            if ($("a.delete").click(function () {
                if (!confirm("Do you really want to delete the page?")) return false;
            }));

//////////////////////////////////////////////////////////////////////////////////////////

            $("table#Pages tbody").sortable({
                items: "tr:not(.home)",
                Placeholder: "ui-state-highlight",
                update: function () {
                    var ids = $("table#Pages tbody").sortable("serialize");
                    //console.log(ids);
                    var url = "/Admin/Pages/ReorderPages";
                    $.post(url, ids, function (data) {
                    });
                }
            });
//////////////////////////////////////////////////////////////////////////////////////////
        });
    </script> }