@model IEnumerable<CmsShoppingCart.Models.ViewModels.Pages.ShopVM>

@{
                /**/

                ViewBag.Title = "CategoriesPage";
}



<h2>Categories</h2>

@if (!Model.Any())
{
    <h1 class="text-center">There is nothing in this category</h1>
}
else

{

    <div class="new-category">
        <input type="text" id=" new-categoryname" />
        <p>
            <a href="#" id="newcategorya">Add a new category</a>
            <span class="ajaxtext">
                <img src="~/Content/Pictures/ajax-loader.gif" />
            </span>
        </p>
    </div>

    @*<p>
            @Html.ActionLink("Create New", "Create")
        </p>*@

    <table class="table sorting" is="pages">
        <tr class="home">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Slug)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.Sorting)
                </th>*@
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.EditorFor(modelItem => item.Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Slug)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sorting)
                    </td>*@
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |*@
                    @*@Html.ActionLink("Details", "Details", new { id=item.Id }) |*@

                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "delete" })
                </td>
            </tr>
        }

    </table>
}

@section Keyassemahe {

    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>

    <script>
        @*Add new category*@


//////////////////////////////////////////////////////////////////////////////////////////
    @*confirm page deletion*@
        $(function () {
            if ($("a.delete").click(function () {
                if (!confirm("Do you really want to delete the page?")) return false;
            }));

//////////////////////////////////////////////////////////////////////////////////////////

            $("table#Pages tbody").sortable({
                items: "tr:not(.home)",
                Placeholder: "ui-state-highlight",
                update: function () {
                    var ids = $("table#Pages tbody").sortable("serialize");
                    //console.log(ids);
                    var url = "/Admin/Pages/ReorderPages";
                    $.post(url, ids, function (data) {
                    });
                }
            });
//////////////////////////////////////////////////////////////////////////////////////////
        });
    </script> }