@model IEnumerable<CmsShoppingCart.Models.ViewModels.Pages.PageVM>

@{


    ViewBag.Title = "Pages";
}

<h4>Pages</h4>

<p>
    @Html.ActionLink("Add New Page", "AddPage")
</p>
@if (!Model.Any())
{
    <h1 class="text-center">There are no pages</h1>
}


else

{


    <table class="table sorting" id="Pages">   @*Look at this*@
        <tr class="home">
            <th>
                Title
            </th>
            <th>   
                Slug
            </th>

            <th>
                Sidebar
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {

            <tr id="id_@item.Id" class="@item.Slug">  @*Look at this*@
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Slug)

                <td>
                    @Html.DisplayFor(modelItem => item.HasSidebar)
                </td>
                <td>

                    @Html.ActionLink("Edit", "EditPage", new { id = item.Id }) |
                    @Html.ActionLink("Details", "PageDetails", new { id = item.Id }) |
                    @if (item.Slug != "home")
                    {
                        @Html.ActionLink("Delete", "DeletePage", new { id = item.Id }, new { @class = "delete" })

                    }
                </td>
            </tr>
        }

    </table>
}









@section Keyassemahe {

    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>

    <script>
    @*confirm page deletion*@
        $(function () {
            if ($("a.delete").click(function () {
                if (!confirm("Do you really want to delete the page?")) return false;
            }));

//////////////////////////////////////////////////////////////////////////////////////////

            $("table#Pages tbody").sortable({
                items: "tr:not(.home)",
                Placeholder: "ui-state-highlight",
                update: function () {
                    var ids = $("table#Pages tbody").sortable("serialize");
                    //console.log(ids); 
                    var url = "/Admin/Pages/ReorderPages";
                    $.post(url, ids, function (data) {
                    });
                }
            });
//////////////////////////////////////////////////////////////////////////////////////////
        });
    </script> }


@*@section Keyassemahe{
    <script>
        $(function () {
            $("a.delete").click(function () {
                if (!confirm("Confirm page deletion")) return false;
            });
        });
    </script>}*@
